body{
    background-image: url(clock-g587b4f152_1920.jpg) ;
    color: #fff;
}
#clock{
    text-align: center;
    width: 50%;
    position: absolute;
    top: 15%;
    left: 25%;
}
#clock h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    background-color: #fff8f8;
    padding: 25px;
    border-radius: 10px;
    color: rgb(166, 47, 67);
    border: 2px solid rgb(166, 47, 67);
}
.clock-container{
    display: flex;
    flex-direction: row; 
    align-items: center;
    /* yanyana sıraladıgımız için row dedik */
    align-content: center;
    justify-content: normal;
}
.clock-items{
    width: 30%;
    background-color: #fff;
    color: black;
    border-radius: 10px;
    margin-right: 3%;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    border: 2px solid blue;
}
#date{
    font-family: 'Lilita One', cursive;
    font-size: 30px;
    margin-top: 60px;
    background-color: rgb(220, 66, 66);
    text-align: center;
    width: 50%;
    position: absolute;
    top: 100%;
    left: 25%;
    color: black;
    padding: 20px;
    border-radius: 20px;
}
h2{
    color:black
}
